<div class="container mt-4 mx-5 row ">
<img src="https://www.tatacapital.com/content/dam/tata-capital-web/tc-banner/business-loan/desktop/overdraft.jpg" class="img-fluid rounded-4" alt="...">
</div>



<div class="p-2 mt-4 secondary row">
    <h5 class="text-light col"> Overview    </h5>
    <div class="col pe-4">
        <div class="apply">  <button type="button" class="btn btn-outline-light px-5 " routerLink="/apply">APPLY NOW</button>

        </div>
       
     </div>
   

</div>





<div class="shadow-lg rounded-5 container mt-4 p-4">
    <h2>What are Small Business Loans?</h2>
    <p>Just like large enterprises, small businesses such as local Kirana stores, electronic repair shops, bakeries, and clothing stores too need funding from time to time. In maximum cases, such businesses require short-term finances to fulfill their urgent cashflow requirements, which can include paying wages to staff, making payments to vendors, or upgrading workplace infrastructure.
    
        Tata Capital’s small business loans are tailor-made loans to help micro and small businesses in India meet their urgent monetary requirements. We provide affordable loan for small business in India with easy eligibility criteria and minimal documentation. You can apply for a new small business loan online and get the funding from the comforts of your home or office.</p>
    
    </div>
    
    
    
    <div class="shadow-lg rounded-5 container mt-5 p-4">
        <h2>How to Get a Small Business Loan?</h2>
        <p>Applying for a small business loan with Tata Capital is easy and convenient. You can apply for a small business loan with us in any of the following ways:
    
            Apply online by visiting our website and get an instant approval
            Call our customer care number at 1860 267 6060 between 9 am and 8 pm on Monday to Saturday to apply through your mobile phone
            Take the help of our 24x7 virtual assistant TIA to apply anytime and from anywhere
            Visit your nearest Tata Capital and get in touch with one of our representatives there</p>
        </div>


        <div class="container shadow rounded-4 mt-4 w-50 text-center">
            <img src="https://www.tatacapital.com/content/tata-capital-web/en/home-loan/home-extension-loan/_jcr_content/root/container/container_724684493/apply_via_whatsapp_c/instant-personal-slider/customcontainer/image.coreimg.svg/1678367059803/whatsapp-colored.svg" class=" rounded-4 img-fluid" alt="...">
            avail loans directly from wtasapp
            <button type="button" class=" btn bg-primary mt-2 mb-2 rounded-4">apply whatsapp</button>
        
        </div>
        