<div class="footer1">
    <div class="container w-75 mt-5">
    <div class="text-center footer rounded-4">
        <h1 class="">Subscribe to our newsletter</h1>
    
        <form class="example-form">
            
            <mat-form-field class="example-full-width " appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput 
                     placeholder="Ex. pat@example.com">
             
            </mat-form-field>
    
            <button class="" mat-button>Subscribe Now</button>
          </form>
          
    </div>
    </div>






    <div class="row mt-4">
    <p class="text-start col">© Copyright GetMyLoan in India (APM Id : Webs_Info_875)</p>
    <p class="text-end col">Site best viewed at 1420 x 768 resolution in Edge, Mozilla 40 +, Google Chrome 45 +</p>
</div>
