.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    

  }
  
  .example-full-width {
    width: 100%;
    color: aliceblue;
}

.footer{
    background-color:#7a6e98;
    padding-left: 250px;
    padding-right: 250px;
}