<div class="container mt-4  ">

<img src="https://www.tatacapital.com/content/dam/tata-capital-web/tc-banner/home-loan/desktop/extension.jpg" class=" rounded-4 img-fluid" alt="...">
</div>

<div class="p-2 mt-4 secondary row">
    <h5 class="text-light col">Overview    </h5>
    <div class="col pe-4">
        <div class="apply">  <button type="button" class="btn btn-outline-light px-5 " routerLink="/apply">APPLY NOW</button>

        </div>
       
     </div>
   

</div>



<div class="container shadow rounded-5 mt-4">
    <h2>Home Extension Loan by Tata Capital</h2>
    <p>A home extension loan can help you meet all your financial obligations for the extension of your existing house.

        At Tata Capital, we provide a loan for home extension with easy eligibility criteria and minimal documentation. Our home extension loan application process is simple, and you can repay us at your convenience. Additionally, our house extension loan interest rates are very competitive, starting from just 9.15% per annum. You can apply for a house extension loan with us and give your family the additional space that they deserve.</p>


        <div class="loans-details-per">
            <ul>
                




<div id="customcontainer-16c38fee97" class="cmp-container ">

<div class="customcontainer container responsivegrid">




<div id="customcontainer-f92c3db867" class="cmp-container amount-info-pers">

<li class="blue-card-items"><div>





<div id="customcontainer-82ccfca213" class="cmp-container ">

<div class="personal-loan-rte title"><p class="text16i">Loan amount offered</p>
<p class="heading20">₹ 2 lakhs to ₹ 5 crores</p>
</div>


</div>



</div>

</li>
<li class="blue-card-items"><div>





<div id="customcontainer-483fdb2e39" class="cmp-container ">

<div class="personal-loan-rte title"><p class="text16i">Loan tenure</p>
<p class="heading20">Upto 30 years</p>
</div>


</div>



</div>

</li>
<li class="blue-card-items"><div>





<div id="customcontainer-d8494cc589" class="cmp-container ">

<div class="personal-loan-rte title"><p class="text16i">Interest rate starting @</p>
</div>
<div class="last-text"><div class="per-flex-text">
<p class="heading20">9.15%* p.a.</p>
<p class="btn-links views-links white-links"><a href="/home-loan/rates-and-charges.html">View Rates &amp; Charges</a></p>

</div></div>


</div>



</div>

</li>


</div>

</div>


</div>


            </ul>
        </div>
</div>





<div class="container shadow rounded-4 mt-4 w-50 text-center">
    <img src="https://www.tatacapital.com/content/tata-capital-web/en/home-loan/home-extension-loan/_jcr_content/root/container/container_724684493/apply_via_whatsapp_c/instant-personal-slider/customcontainer/image.coreimg.svg/1678367059803/whatsapp-colored.svg" class=" rounded-4 img-fluid" alt="...">
    avail loans directly from wtasapp
    <button type="button" class=" btn bg-primary mt-2 mb-2 rounded-4">apply whatsapp</button>

</div>




<section class="faq-box space-tb40 ">
    <div class="container">
        <div class="tops-heads">
			

    
    
    
    <div id="customcontainer-fc8914d9ec" class="cmp-container ">
        
        <div class="component-title title">
   <div class="container">
      <h2 class="text-center mt-4">Popular  <span>FAQs</span></h2>
   </div>




   </div>

        
    </div>


        </div>
        <div class="Home Extension Loan">
        <div class="faq-card bg-div">
        	

    
    
    
    <div id="container-d4cbc0d107" class="cmp-container">
        
        <div class="popular-faq accordion panelcontainer"><div id="popular-faq-8e36cb1f3a" class="cmp-accordion  " data-cmp-single-expansion="" data-placeholder-text="false">
                <div class="cmp-accordion__item faq-row " data-cmp-hook-accordion="item" id="popular-faq-8e36cb1f3a-item-517acd5e65" data-faq="popular-faq">
                    <div class="cmp-accordion__header">
                        <a id="popular-faq-8e36cb1f3a-item-517acd5e65-button" class="faq-heading cmp-accordion__button" aria-controls="popular-faq-8e36cb1f3a-item-517acd5e65-panel" data-cmp-hook-accordion="button" aria-expanded="false">
                            What is a Home Loan? 
                            <span class="cmp-accordion__icon"></span>
                        </a>
                    </div>
                    <div data-cmp-hook-accordion="panel" id="popular-faq-8e36cb1f3a-item-517acd5e65-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="popular-faq-8e36cb1f3a-item-517acd5e65-button" aria-hidden="true"><div class="popular-faq-description-structure"><div class="faq-body-inner">


    
    
    
    <div id="container-70c3ca1d59" class="cmp-container">
        
        <div class="text">
<div id="text-6d9a74ae70" class="cmp-text">
    <p>A home loan, or a housing loan, refers to a sum of money borrowed from a financial institution to buy a new house. With a Tata Capital Home Loan, you can avail of high-value financing for convenient tenures at competitive interest rates.&nbsp;</p>

</div>

    

</div>

        
    </div>


<ul class="list-circle-info">
        

    
    
    
    <div id="customcontainer-68896b9113" class="cmp-container ">
        
        <div class="text">
<div id="text-e8f43738fa" class="cmp-text">
    <p>You can apply for a housing loan for the following purposes:</p>

</div>

    

</div>
<div class="popular-faq-description-text title">
<li>Purchasing a ready-to-move-in or under-construction housing property </li>
</div>
<div class="popular-faq-description-text title">
<li>Buying a plot of land to construct a house on it </li>
</div>
<div class="popular-faq-description-text title">
<li>Renovating or repairing your home (Home Improvement Loan) </li>
</div>
<div class="popular-faq-description-text title">
<li>Adding new spaces to your existing house (Home Extension Loan) </li>
</div>

        
    </div>


    </ul>
</div></div>
</div>
                </div>
<div class="cmp-accordion__item faq-row " data-cmp-hook-accordion="item" id="popular-faq-8e36cb1f3a-item-e0d694ac54" data-faq="popular-faq">
                    <div class="cmp-accordion__header">
                        <a id="popular-faq-8e36cb1f3a-item-e0d694ac54-button" class="faq-heading cmp-accordion__button" aria-controls="popular-faq-8e36cb1f3a-item-e0d694ac54-panel" data-cmp-hook-accordion="button" aria-expanded="false">
                            What are the benefits of a Home Loan? 
                            <span class="cmp-accordion__icon"></span>
                        </a>
                    </div>
                    <div data-cmp-hook-accordion="panel" id="popular-faq-8e36cb1f3a-item-e0d694ac54-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="popular-faq-8e36cb1f3a-item-e0d694ac54-button" aria-hidden="true"><div class="popular-faq-description-structure"><div class="faq-body-inner">


    
    
    
    <div id="container-1eb6bc6b2e" class="cmp-container">
        
        <div class="text">
<div id="text-1fb8735770" class="cmp-text">
    <p>A home loan can help you purchase or construct your dream house without worrying about the requisite finances. At Tata Capital, we understand your housing finance requirements and provide you with the best home loan.&nbsp;</p>

</div>

    

</div>
<div class="text">
<div id="text-1dfd600d2f" class="cmp-text">
    <p>Some benefits of a Tata Capital Home Loan include:</p>

</div>

    

</div>

        
    </div>


<ul class="list-circle-info">
        

    
    
    
    <div id="customcontainer-a65bafa11b" class="cmp-container ">
        
        <div class="popular-faq-description-text title">
<li>Attractive rate of interest </li>
</div>
<div class="popular-faq-description-text title">
<li>Loan tenure up to 30 years </li>
</div>
<div class="popular-faq-description-text title">
<li>Simple eligibility criteria </li>
</div>
<div class="popular-faq-description-text title">
<li>Flexible repayment solutions </li>
</div>
<div class="popular-faq-description-text title">
<li>Instant approval </li>
</div>
<div class="popular-faq-description-text title">
<li>Quick processing </li>
</div>
<div class="popular-faq-description-text title">
<li>Tax benefits </li>
</div>
<div class="popular-faq-description-text title">
<li>Door-to-door services </li>
</div>

        
    </div>


    </ul>
</div></div>
</div>
                </div>
<div class="cmp-accordion__item faq-row " data-cmp-hook-accordion="item" id="popular-faq-8e36cb1f3a-item-f0f0979946" data-faq="popular-faq">
                    <div class="cmp-accordion__header">
                        <a id="popular-faq-8e36cb1f3a-item-f0f0979946-button" class="faq-heading cmp-accordion__button" aria-controls="popular-faq-8e36cb1f3a-item-f0f0979946-panel" data-cmp-hook-accordion="button" aria-expanded="false">
                            How can I use a Tata Capital Home Loan? 
                            <span class="cmp-accordion__icon"></span>
                        </a>
                    </div>
                    <div data-cmp-hook-accordion="panel" id="popular-faq-8e36cb1f3a-item-f0f0979946-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="popular-faq-8e36cb1f3a-item-f0f0979946-button" aria-hidden="true"><div class="popular-faq-description-structure"><div class="faq-body-inner">


    
    
    
    <div id="container-b8663a1c2a" class="cmp-container">
        
        <div class="text">
<div id="text-b28924be7b" class="cmp-text">
    <p>Tata Capital Home Loans are tailored to help you meet all your housing finance requirements. You can use our home loans for the following purposes:</p>

</div>

    

</div>

        
    </div>


<ul class="list-circle-info">
        

    
    
    
    <div id="customcontainer-71552fd56b" class="cmp-container ">
        
        <div class="popular-faq-description-text title">
<li>Buying a ready-to-move-in property from the builder </li>
</div>
<div class="popular-faq-description-text title">
<li>Buying an under-construction property from the builder </li>
</div>
<div class="popular-faq-description-text title">
<li>Buying a resale housing property </li>
</div>
<div class="popular-faq-description-text title">
<li>Buying a plot to construct a house on it </li>
</div>
<div class="popular-faq-description-text title">
<li>Renovating or repairing your existing house </li>
</div>
<div class="popular-faq-description-text title">
<li>Refinancing an already purchased residential property </li>
</div>
<div class="popular-faq-description-text title">
<li>Transferring your outstanding home loan balance from another lender </li>
</div>

        
    </div>


    </ul>
</div></div>
</div>
                </div>
<div class="cmp-accordion__item faq-row " data-cmp-hook-accordion="item" id="popular-faq-8e36cb1f3a-item-f6eaab654c" data-faq="popular-faq" data-cmp-expanded="">
                    <div class="cmp-accordion__header">
                        <a id="popular-faq-8e36cb1f3a-item-f6eaab654c-button" class="faq-heading cmp-accordion__button cmp-accordion__button--expanded active" aria-controls="popular-faq-8e36cb1f3a-item-f6eaab654c-panel" data-cmp-hook-accordion="button" aria-expanded="true">
                            Can a sanctioned Home Loan be canceled? 
                            <span class="cmp-accordion__icon"></span>
                        </a>
                    </div>
                    <div data-cmp-hook-accordion="panel" id="popular-faq-8e36cb1f3a-item-f6eaab654c-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="popular-faq-8e36cb1f3a-item-f6eaab654c-button" aria-hidden="false"><div class="popular-faq-description-structure"><div class="faq-body-inner">


    
    
    
    <div id="container-29239cdcc1" class="cmp-container">
        
        <div class="text">
<div id="text-f98abb2d09" class="cmp-text">
    <p>Yes, you can cancel your home loan even after it has been sanctioned. However, the lender may not refund the home loan processing fees that are charged during the home loan sanction process.</p>

</div>

    

</div>
<div class="text">
<div id="text-3adc28a519" class="cmp-text">
    <p>If you want to cancel your home loan after receiving your loan sanction letter, you can write to us or contact us on our helpline number. But make sure you do this well before the loan is disbursed.</p>

</div>

    

</div>

        
    </div>


<ul class="list-circle-info">
        

    
    
    
    <div id="customcontainer-db8e780e5d" class="cmp-container ">
        
        
        
    </div>


    </ul>
</div></div>
</div>
                </div>
<div class="cmp-accordion__item faq-row " data-cmp-hook-accordion="item" id="popular-faq-8e36cb1f3a-item-5225a156e0" data-faq="popular-faq">
                    <div class="cmp-accordion__header">
                        <a id="popular-faq-8e36cb1f3a-item-5225a156e0-button" class="faq-heading cmp-accordion__button" aria-controls="popular-faq-8e36cb1f3a-item-5225a156e0-panel" data-cmp-hook-accordion="button" aria-expanded="false">
                            Can I increase my Home Loan tenure? 
                            <span class="cmp-accordion__icon"></span>
                        </a>
                    </div>
                    <div data-cmp-hook-accordion="panel" id="popular-faq-8e36cb1f3a-item-5225a156e0-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="popular-faq-8e36cb1f3a-item-5225a156e0-button" aria-hidden="true"><div class="popular-faq-description-structure"><div class="faq-body-inner">


    
    
    
    <div id="container-8a25b33abb" class="cmp-container">
        
        <div class="text">
<div id="text-f1401098b9" class="cmp-text">
    <p>Yes, you can extend your home loan tenure as long as it is within the maximum loan tenure offered by your lender. At Tata Capital, we offer home loans with maximum tenures of up to 30 years.</p>

</div>

    

</div>
<div class="text">
<div id="text-acb9ef9bcd" class="cmp-text">
    <p>By extending your home loan tenure, you can reduce your EMI burden. To increase your home loan tenure, you can contact us on our customer helpline number or visit your nearest Tata Capital branch.</p>

</div>

    

</div>

        
    </div>


<ul class="list-circle-info">
        

    
    
    
    <div id="customcontainer-cd44138dbf" class="cmp-container ">
        
        
        
    </div>


    </ul>
</div></div>
</div>
                </div>
<div class="cmp-accordion__item faq-row " data-cmp-hook-accordion="item" id="popular-faq-8e36cb1f3a-item-f32a2e64a5" data-faq="popular-faq">
                    <div class="cmp-accordion__header">
                        <a id="popular-faq-8e36cb1f3a-item-f32a2e64a5-button" class="faq-heading cmp-accordion__button" aria-controls="popular-faq-8e36cb1f3a-item-f32a2e64a5-panel" data-cmp-hook-accordion="button" aria-expanded="false">
                            What factors cause the rejection of a Home Loan? 
                            <span class="cmp-accordion__icon"></span>
                        </a>
                    </div>
                    <div data-cmp-hook-accordion="panel" id="popular-faq-8e36cb1f3a-item-f32a2e64a5-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="popular-faq-8e36cb1f3a-item-f32a2e64a5-button" aria-hidden="true"><div class="popular-faq-description-structure"><div class="faq-body-inner">


    
    
    
    <div id="container-f58baf8306" class="cmp-container">
        
        <div class="text">
<div id="text-3bb3903fa4" class="cmp-text">
    <p>Some common reasons for the rejection of a home loan could be:</p>

</div>

    

</div>

        
    </div>


<ul class="list-circle-info">
        

    
    
    
    <div id="customcontainer-2f4de34963" class="cmp-container ">
        
        <div class="popular-faq-description-text title">
<li>Inability to meet the home loan eligibility criteria </li>
</div>
<div class="popular-faq-description-text title">
<li>Non-submission of the required documents&nbsp;</li>
</div>
<div class="popular-faq-description-text title">
<li>Low credit score </li>
</div>
<div class="popular-faq-description-text title">
<li>Incomplete or incorrect details in the home loan application </li>
</div>
<div class="text">
<div id="text-093c1853a1" class="cmp-text">
    <p>If your home loan application is rejected by the lender, find out the exact reason behind it. If a low credit score is responsible, take steps to improve your credit score before reapplying. Also, make sure you check your home loan application thoroughly before submitting it.</p>

</div>

    

</div>

        
    </div>


    </ul>
</div></div>
</div>
                </div>
<div class="cmp-accordion__item faq-row " data-cmp-hook-accordion="item" id="popular-faq-8e36cb1f3a-item-cec55ed010" data-faq="popular-faq">
                    <div class="cmp-accordion__header">
                        <a id="popular-faq-8e36cb1f3a-item-cec55ed010-button" class="faq-heading cmp-accordion__button" aria-controls="popular-faq-8e36cb1f3a-item-cec55ed010-panel" data-cmp-hook-accordion="button" aria-expanded="false">
                            What is the Flexi EMI plan? 
                            <span class="cmp-accordion__icon"></span>
                        </a>
                    </div>
                    <div data-cmp-hook-accordion="panel" id="popular-faq-8e36cb1f3a-item-cec55ed010-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="popular-faq-8e36cb1f3a-item-cec55ed010-button" aria-hidden="true"><div class="popular-faq-description-structure"><div class="faq-body-inner">


    
    
    
    <div id="container-21cfb58ce3" class="cmp-container">
        
        <div class="text">
<div id="text-8786e1ed24" class="cmp-text">
    <p>At Tata Capital, we provide two types of home loan repayment plans – Standard EMI Plan and Step-Up Flexi EMI Plan. The Standard EMI Plan allows you to pay fixed EMIs for your entire home loan tenure. On the other hand, the Step-Up Flexi EMI Plan offers greater flexibility for housing loan repayment. With the latter option, you can choose to pay lower EMIs initially and then increase them gradually as your income increases.</p>

</div>

    

</div>

        
    </div>


<ul class="list-circle-info">
        

    
    
    
    <div id="customcontainer-5f8215bf69" class="cmp-container ">
        
        
        
    </div>


    </ul>
</div></div>
</div>
                </div>
<div class="cmp-accordion__item faq-row " data-cmp-hook-accordion="item" id="popular-faq-8e36cb1f3a-item-6e47176e79" data-faq="popular-faq">
                    <div class="cmp-accordion__header">
                        <a id="popular-faq-8e36cb1f3a-item-6e47176e79-button" class="faq-heading cmp-accordion__button" aria-controls="popular-faq-8e36cb1f3a-item-6e47176e79-panel" data-cmp-hook-accordion="button" aria-expanded="false">
                            How can one apply for a Home Loan? 
                            <span class="cmp-accordion__icon"></span>
                        </a>
                    </div>
                    <div data-cmp-hook-accordion="panel" id="popular-faq-8e36cb1f3a-item-6e47176e79-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="popular-faq-8e36cb1f3a-item-6e47176e79-button" aria-hidden="true"><div class="popular-faq-description-structure"><div class="faq-body-inner">


    
    
    
    <div id="container-19b29882c0" class="cmp-container">
        
        <div class="text">
<div id="text-2cc060e252" class="cmp-text">
    <p>With Tata Capital, you can apply for a home loan in the following ways:</p>

</div>

    

</div>
<div class="popular-faq-description-text title">
<li>Online – You can apply for a home loan online in a few simple steps </li>
</div>
<div class="popular-faq-description-text title">
<li>Phone – You can call us at 1860 267 6060 to apply for a home loan </li>
</div>
<div class="popular-faq-description-text title">
<li>Branch – Visit your nearest Tata Capital branch during working hours </li>
</div>
<div class="rte title"><p class="mg-t15">To apply for a Tata Capital Home Loan online, follow these steps:</p>
</div>
<div class="popular-faq-description-text title">
<li>Fill up an online housing loan application form </li>
</div>
<div class="popular-faq-description-text title">
<li>Upload the necessary home loan documents </li>
</div>
<div class="popular-faq-description-text title">
<li>Get on-the-spot approval </li>
</div>
<div class="popular-faq-description-text title">
<li>Avail of the loan amount in a few working days </li>
</div>

        
    </div>


<ul class="list-circle-info">
        

    
    
    
    <div id="customcontainer-a8204bd7ca" class="cmp-container ">
        
        
        
    </div>


    </ul>
</div></div>
</div>
                </div>

                
            </div>
            </div>

        
    </div>


        </div>
        </div>
    </div>
</section>